.dropDown
  position relative
  width: 100%;

  &__trigger
    position relative
    background #fff
    height 46px
    line-height 46px
    padding 0 30px 0 15px
    color #565656
    border 1px solid #bdc0c1
    border-radius 4px
    font-size 14px
    outline none
    width 100%
    appearance: none;
    cursor pointer
    text-align left
    background #fff !important
    color #565656 !important
    border 1px solid #bdc0c1 !important
    box-shadow: none !important

    &:before
      z-index 20
      display: inline-block;
      position: absolute;
      right: 15px;
      height: 8px;
      top: 16px;
      content: "";
      width: 8px;
      border-right: 2px solid #0086cd;
      border-bottom: 2px solid #0086cd;
      transform: rotate(45deg);
      pointer-events: none;

  &__body
    position absolute
    left 0
    width 100%
    top 100%
    margin-top 5px
    max-height 0
    transition max-height 0.1s ease-in-out, opacity 0.5s
    overflow hidden
    display inline-block
    padding: 0
    border: none
    //opacity 0
    z-index 50
    outline none

    &_has_open
      max-height 300px
      border 1px solid #d3d3d3
      border-radius  0 0 4px 4px
      //opacity 1
      transition max-height 0.1s ease-in-out, opacity 0.5s

  &__bodyWrapper
    background #fff
    padding 20px
    overflow-y auto
    max-height 300px
    &_no_padding
        padding 0