.multiSelectItem
  position relative
  cursor: pointer;
  height 40px
  text-align left
  transition background 0.2s
  border-bottom: 1px solid #bdc0c1;

  &__label
    font-size 14px
    padding-left 20px
    padding-right 20px
    cursor pointer
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    line-height 1

  &:hover
    background-color: lighten(#bdc0c1, 80%);
    transition background 0.2s

  &_checked
    background-color lighten(#bdc0c1, 50%);
    transition background 0.2s

  &:focus
    background-color #fff