.inputText
  position: relative;
  background: #fff;
  height: 46px;
  line-height: 46px;
  padding-left: 20px;
  padding-right: 35px;
  color: #565656;
  border: 1px solid #bdc0c1;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  width: 100%;
  text-align: left;

  &__simple
    padding-left 10px
    padding-right 10px

