.chart
  margin-top 40px
  margin-bottom 40px
  display flex
  justify-content: space-between;

  &__caption
    display flex
    justify-content space-between
    align-items flex-end
    h2
      font-weight 100
      align-self: flex-start

  &__total
    font-size 26px
    font-weight 600
    line-height 1.4

@media (max-width: 768px)
  .chart
    &__caption
      text-align: center;
      display: block;