.line-separator
  position relative
  z-index 1
  &__wrapper
    position relative
    text-align center
    width 100%
    &:before
      display inline-block
      content: ""
      position absolute
      left 0
      right 0
      top 50%
      height 1px
      margin-top 1px
      background #bdc0c1
      z-index 2
  &__children
    padding 10px
    background #fff
    display inline-block
    position relative
    z-index 3

