.field
  position relative
  input[type="text"],
  input[type="number"]
    height 46px
    line-height 46px
    padding-left 50px
    padding-right 50px
    border 1px solid #d5d5d5
    border-radius 4px
    font-size 18px
    color #2c2c2c
    outline none
    width 100%
    text-align center
    -webkit-appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none;
      margin: 0;

.btn
  position absolute
  top 0
  width 49px
  height 46px
  color inherit
  border 1px solid #d5d5d5
  font-size 18px
  background #fff
  text-align center
  cursor pointer
  user-select none
  transition 0.5s

  &:hover
    color #fff
    transition 0.5s
    background lighten(#009fe3, 20%)

  &:active
    background-color #009fe3
    color #fff
    transition 0.2s

.plus
  right 0
  line-height 45px
  border-bottom-right-radius 4px
  border-top-right-radius 4px
  text-indent -1px

.minus
  left 0
  line-height 42px
  text-indent 3px
  border-bottom-left-radius 4px
  border-top-left-radius 4px

.field.small
  input[type="text"],
  input[type="number"]
    height 30px
    line-height 30px
    font-size 14px
    padding-left 30px
    padding-right 30px

  .btn
    width 30px
    height 30px
    &.plus
      line-height 29px

    &.minus
      line-height 27px

@media (max-width: 998px)
  .btn
    &:hover, &:active
      color inherit
      background #fff