$offset = 10px

.container
  position relative
  margin-left auto
  margin-right auto
  z-index 1
  padding-right $offset
  padding-left $offset

@media (min-width: 576px)
  .container
    width 540px
    max-width 100%

@media (min-width: 768px)
  .container
    width 720px
    max-width 100%

@media (min-width: 992px)
  .container
    width 960px
    max-width 100%

@media (min-width: 1200px)
  .container
    width 1140px
    max-width 100%

.row
  display flex
  flex-wrap wrap
  margin-right -($offset)
  margin-left -($offset)

.col
  flex 0 0 auto
  width 100%
  max-width 100%
  padding-left $offset
  padding-right $offset

.col-1
  flex 0 0 8.333333%
  max-width 8.333333%

.col-2
  flex 0 0 16.666667%
  max-width 16.666667%

.col-3
  flex 0 0 25%
  max-width 25%

.col-4
  flex 0 0 33.333333%
  max-width 33.333333%

.col-5
  flex 0 0 41.666667%
  max-width 41.666667%

.col-6
  flex 0 0 50%
  max-width 50%

.col-7
  flex 0 0 58.333333%
  max-width 58.333333%

.col-8
  flex 0 0 66.666667%
  max-width 66.666667%

.col-9
  flex 0 0 75%
  max-width 75%

.col-10
  flex 0 0 83.333333%
  max-width 83.333333%

.col-11
  flex 0 0 91.666667%
  max-width 91.666667%

.col-12
  -ms-flex 0 0 100%
  flex 0 0 100%
  max-width 100%

@media (min-width: 576px)
  .col-sm
    flex-basis 0
    flex-grow 1
    max-width 100%
  .col-sm-1
    flex 0 0 8.333333%
    max-width 8.333333%
  .col-sm-2
    flex 0 0 16.666667%
    max-width 16.666667%
  .col-sm-3
    flex 0 0 25%
    max-width 25%
  .col-sm-4
    flex 0 0 33.333333%
    max-width 33.333333%
  .col-sm-5
    flex 0 0 41.666667%
    max-width 41.666667%
  .col-sm-6
    flex 0 0 50%
    max-width 50%
  .col-sm-7
    flex 0 0 58.333333%
    max-width 58.333333%
  .col-sm-8
    flex 0 0 66.666667%
    max-width 66.666667%
  .col-sm-9
    flex 0 0 75%
    max-width 75%
  .col-sm-10
    flex 0 0 83.333333%
    max-width 83.333333%
  .col-sm-11
    flex 0 0 91.666667%
    max-width 91.666667%
  .col-sm-12
    flex 0 0 100%
    max-width 100%

@media (min-width: 768px)
  .col-md
    flex-basis 0
    flex-grow 1
    max-width 100%
  .col-md-1
    flex 0 0 8.333333%
    max-width 8.333333%
  .col-md-2
    flex 0 0 16.666667%
    max-width 16.666667%
  .col-md-3
    flex 0 0 25%
    max-width 25%
  .col-md-4
    flex 0 0 33.333333%
    max-width 33.333333%
  .col-md-5
    flex 0 0 41.666667%
    max-width 41.666667%
  .col-md-6
    flex 0 0 50%
    max-width 50%
  .col-md-7
    flex 0 0 58.333333%
    max-width 58.333333%
  .col-md-8
    flex 0 0 66.666667%
    max-width 66.666667%
  .col-md-9
    flex 0 0 75%
    max-width 75%
  .col-md-10
    flex 0 0 83.333333%
    max-width 83.333333%
  .col-md-11
    flex 0 0 91.666667%
    max-width 91.666667%
  .col-md-12
    flex 0 0 100%
    max-width 100%

@media (min-width: 992px)
  .col-lg
    flex-basis 0
    flex-grow 1
    max-width 100%
  .col-lg-1
    flex 0 0 8.333333%
    max-width 8.333333%
  .col-lg-2
    flex 0 0 16.666667%
    max-width 16.666667%
  .col-lg-3
    flex 0 0 25%
    max-width 25%
  .col-lg-4
    flex 0 0 33.333333%
    max-width 33.333333%
  .col-lg-5
    flex 0 0 41.666667%
    max-width 41.666667%
  .col-lg-6
    flex 0 0 50%
    max-width 50%
  .col-lg-7
    flex 0 0 58.333333%
    max-width 58.333333%
  .col-lg-8
    flex 0 0 66.666667%
    max-width 66.666667%
  .col-lg-9
    flex 0 0 75%
    max-width 75%
  .col-lg-10
    flex 0 0 83.333333%
    max-width 83.333333%
  .col-lg-11
    flex 0 0 91.666667%
    max-width 91.666667%
  .col-lg-12
    flex 0 0 100%
    max-width 100%

@media (min-width: 1200px)
  .col-xl
    flex-basis 0
    flex-grow 1
    max-width 100%
  .col-xl-1
    flex 0 0 8.333333%
    max-width 8.333333%
  .col-xl-2
    flex 0 0 16.666667%
    max-width 16.666667%
  .col-xl-3
    flex 0 0 25%
    max-width 25%
  .col-xl-4
    flex 0 0 33.333333%
    max-width 33.333333%
  .col-xl-5
    flex 0 0 41.666667%
    max-width 41.666667%
  .col-xl-6
    flex 0 0 50%
    max-width 50%
  .col-xl-7
    flex 0 0 58.333333%
    max-width 58.333333%
  .col-xl-8
    flex 0 0 66.666667%
    max-width 66.666667%
  .col-xl-9
    flex 0 0 75%
    max-width 75%
  .col-xl-10
    flex 0 0 83.333333%
    max-width 83.333333%
  .col-xl-11
    flex 0 0 91.666667%
    max-width 91.666667%
  .col-xl-12
    flex 0 0 100%
    max-width 100%


// Max colums

.max-col-1, .max-col-2, .max-col-3, .max-col-4, .max-col-5, .max-col-6, .max-col-7, .max-col-8, .max-col-9, .max-col-10, .max-col-11, .max-col-12, .max-col-13, .max-col-14, .max-col-15, .max-col-16, .max-col-17, .max-col-18, .max-col-19, .max-col-20, .max-col-21, .max-col-22, .max-col-23, .max-col-24, .col,
.max-col-auto, .max-col-sm-1, .max-col-sm-2, .max-col-sm-3, .max-col-sm-4, .max-col-sm-5, .max-col-sm-6, .max-col-sm-7, .max-col-sm-8, .max-col-sm-9, .max-col-sm-10, .max-col-sm-11, .max-col-sm-12, .max-col-sm-13, .max-col-sm-14, .max-col-sm-15, .max-col-sm-16, .max-col-sm-17, .max-col-sm-18, .max-col-sm-19, .max-col-sm-20, .max-col-sm-21, .max-col-sm-22, .max-col-sm-23, .max-col-sm-24, .max-col-sm,
.max-col-sm-auto, .max-col-md-1, .max-col-md-2, .max-col-md-3, .max-col-md-4, .max-col-md-5, .max-col-md-6, .max-col-md-7, .max-col-md-8, .max-col-md-9, .max-col-md-10, .max-col-md-11, .max-col-md-12, .max-col-md-13, .max-col-md-14, .max-col-md-15, .max-col-md-16, .max-col-md-17, .max-col-md-18, .max-col-md-19, .max-col-md-20, .max-col-md-21, .max-col-md-22, .max-col-md-23, .max-col-md-24, .max-col-md,
.max-col-md-auto, .max-col-lg-1, .max-col-lg-2, .max-col-lg-3, .max-col-lg-4, .max-col-lg-5, .max-col-lg-6, .max-col-lg-7, .max-col-lg-8, .max-col-lg-9, .max-col-lg-10, .max-col-lg-11, .max-col-lg-12, .max-col-lg-13, .max-col-lg-14, .max-col-lg-15, .max-col-lg-16, .max-col-lg-17, .max-col-lg-18, .max-col-lg-19, .max-col-lg-20, .max-col-lg-21, .max-col-lg-22, .max-col-lg-23, .max-col-lg-24, .max-col-lg,
.max-col-lg-auto, .max-col-xl-1, .max-col-xl-2, .max-col-xl-3, .max-col-xl-4, .max-col-xl-5, .max-col-xl-6, .max-col-xl-7, .max-col-xl-8, .max-col-xl-9, .max-col-xl-10, .max-col-xl-11, .max-col-xl-12, .max-col-xl-13, .max-col-xl-14, .max-col-xl-15, .max-col-xl-16, .max-col-xl-17, .max-col-xl-18, .max-col-xl-19, .max-col-xl-20, .max-col-xl-21, .max-col-xl-22, .max-col-xl-23, .max-col-xl-24, .max-col-xl,
.max-col-xl-auto
    position relative
    width 100%
    min-height 1px
    padding-left $offset
    padding-right $offset

.max-col 
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;

.max-col-auto 
  flex: 0 0 auto;
  width: auto;
  max-width: none;

.max-col-auto
    flex 0 0 auto
    width auto
    max-width none

.max-col-1
    flex 0 0 4.166667%
    max-width 4.166667%

.max-col-2
    flex 0 0 8.333333%
    max-width 8.333333%

.max-col-3
    flex 0 0 12.5%
    max-width 12.5%

.max-col-4
    flex 0 0 16.666667%
    max-width 16.666667%

.max-col-5
    flex 0 0 20.833333%
    max-width 20.833333%

.max-col-6
    flex 0 0 25%
    max-width 25%

.max-col-7
    flex 0 0 29.166667%
    max-width 29.166667%

.max-col-8
    flex 0 0 33.333333%
    max-width 33.333333%

.max-col-9
    flex 0 0 37.5%
    max-width 37.5%

.max-col-10
    flex 0 0 41.666667%
    max-width 41.666667%

.max-col-11
    flex 0 0 45.833333%
    max-width 45.833333%

.max-col-12
    flex 0 0 50%
    max-width 50%

.max-col-13
    flex 0 0 54.166667%
    max-width 54.166667%

.max-col-14
    flex 0 0 58.333333%
    max-width 58.333333%

.max-col-15
    flex 0 0 62.5%
    max-width 62.5%

.max-col-16
    flex 0 0 66.666667%
    max-width 66.666667%

.max-col-17
    flex 0 0 70.833333%
    max-width 70.833333%

.max-col-18
    flex 0 0 75%
    max-width 75%

.max-col-19
    flex 0 0 79.166667%
    max-width 79.166667%

.max-col-20
    flex 0 0 83.333333%
    max-width 83.333333%

.max-col-21
    flex 0 0 87.5%
    max-width 87.5%

.max-col-22
    flex 0 0 91.666667%
    max-width 91.666667%

.max-col-23
    flex 0 0 95.833333%
    max-width 95.833333%

.max-col-24
    flex 0 0 100%
    max-width 100%

.max-order-1
    order 1

.max-order-2
    order 2

.max-order-3
    order 3

.max-order-4
    order 4

.max-order-5
    order 5

.max-order-6
    order 6

.max-order-7
    order 7

.max-order-8
    order 8

.max-order-9
    order 9

.max-order-10
    order 10

.max-order-11
    order 11

.max-order-12
    order 12

.max-order-13
    order 13

.max-order-14
    order 14

.max-order-15
    order 15

.max-order-16
    order 16

.max-order-17
    order 17

.max-order-18
    order 18

.max-order-19
    order 19

.max-order-20
    order 20

.max-order-21
    order 21

.max-order-22
    order 22

.max-order-23
    order 23

.max-order-24
    order 24

@media (min-width: 576px)
    .max-col-sm
        flex-basis 0
        flex-grow 1
        max-width 100%
    .max-col-sm-auto
        flex 0 0 auto
        width auto
        max-width none
    .max-col-sm-1
        flex 0 0 4.166667%
        max-width 4.166667%
    .max-col-sm-2
        flex 0 0 8.333333%
        max-width 8.333333%
    .max-col-sm-3
        flex 0 0 12.5%
        max-width 12.5%
    .max-col-sm-4
        flex 0 0 16.666667%
        max-width 16.666667%
    .max-col-sm-5
        flex 0 0 20.833333%
        max-width 20.833333%
    .max-col-sm-6
        flex 0 0 25%
        max-width 25%
    .max-col-sm-7
        flex 0 0 29.166667%
        max-width 29.166667%
    .max-col-sm-8
        flex 0 0 33.333333%
        max-width 33.333333%
    .max-col-sm-9
        flex 0 0 37.5%
        max-width 37.5%
    .max-col-sm-10
        flex 0 0 41.666667%
        max-width 41.666667%
    .max-col-sm-11
        flex 0 0 45.833333%
        max-width 45.833333%
    .max-col-sm-12
        flex 0 0 50%
        max-width 50%
    .max-col-sm-13
        flex 0 0 54.166667%
        max-width 54.166667%
    .max-col-sm-14
        flex 0 0 58.333333%
        max-width 58.333333%
    .max-col-sm-15
        flex 0 0 62.5%
        max-width 62.5%
    .max-col-sm-16
        flex 0 0 66.666667%
        max-width 66.666667%
    .max-col-sm-17
        flex 0 0 70.833333%
        max-width 70.833333%
    .max-col-sm-18
        flex 0 0 75%
        max-width 75%
    .max-col-sm-19
        flex 0 0 79.166667%
        max-width 79.166667%
    .max-col-sm-20
        flex 0 0 83.333333%
        max-width 83.333333%
    .max-col-sm-21
        flex 0 0 87.5%
        max-width 87.5%
    .max-col-sm-22
        flex 0 0 91.666667%
        max-width 91.666667%
    .max-col-sm-23
        flex 0 0 95.833333%
        max-width 95.833333%
    .max-col-sm-24
        flex 0 0 100%
        max-width 100%
    .max-order-sm-1
        order 1
    .max-order-sm-2
        order 2
    .max-order-sm-3
        order 3
    .max-order-sm-4
        order 4
    .max-order-sm-5
        order 5
    .max-order-sm-6
        order 6
    .max-order-sm-7
        order 7
    .max-order-sm-8
        order 8
    .max-order-sm-9
        order 9
    .max-order-sm-10
        order 10
    .max-order-sm-11
        order 11
    .max-order-sm-12
        order 12
    .max-order-sm-13
        order 13
    .max-order-sm-14
        order 14
    .max-order-sm-15
        order 15
    .max-order-sm-16
        order 16
    .max-order-sm-17
        order 17
    .max-order-sm-18
        order 18
    .max-order-sm-19
        order 19
    .max-order-sm-20
        order 20
    .max-order-sm-21
        order 21
    .max-order-sm-22
        order 22
    .max-order-sm-23
        order 23
    .max-order-sm-24
        order 24

@media (min-width: 768px)
    .max-col-md
        flex-basis 0
        flex-grow 1
        max-width 100%
    .max-col-md-auto
        flex 0 0 auto
        width auto
        max-width none
    .max-col-md-1
        flex 0 0 4.166667%
        max-width 4.166667%
    .max-col-md-2
        flex 0 0 8.333333%
        max-width 8.333333%
    .max-col-md-3
        flex 0 0 12.5%
        max-width 12.5%
    .max-col-md-4
        flex 0 0 16.666667%
        max-width 16.666667%
    .max-col-md-5
        flex 0 0 20.833333%
        max-width 20.833333%
    .max-col-md-6
        flex 0 0 25%
        max-width 25%
    .max-col-md-7
        flex 0 0 29.166667%
        max-width 29.166667%
    .max-col-md-8
        flex 0 0 33.333333%
        max-width 33.333333%
    .max-col-md-9
        flex 0 0 37.5%
        max-width 37.5%
    .max-col-md-10
        flex 0 0 41.666667%
        max-width 41.666667%
    .max-col-md-11
        flex 0 0 45.833333%
        max-width 45.833333%
    .max-col-md-12
        flex 0 0 50%
        max-width 50%
    .max-col-md-13
        flex 0 0 54.166667%
        max-width 54.166667%
    .max-col-md-14
        flex 0 0 58.333333%
        max-width 58.333333%
    .max-col-md-15
        flex 0 0 62.5%
        max-width 62.5%
    .max-col-md-16
        flex 0 0 66.666667%
        max-width 66.666667%
    .max-col-md-17
        flex 0 0 70.833333%
        max-width 70.833333%
    .max-col-md-18
        flex 0 0 75%
        max-width 75%
    .max-col-md-19
        flex 0 0 79.166667%
        max-width 79.166667%
    .max-col-md-20
        flex 0 0 83.333333%
        max-width 83.333333%
    .max-col-md-21
        flex 0 0 87.5%
        max-width 87.5%
    .max-col-md-22
        flex 0 0 91.666667%
        max-width 91.666667%
    .max-col-md-23
        flex 0 0 95.833333%
        max-width 95.833333%
    .max-col-md-24
        flex 0 0 100%
        max-width 100%
    .max-order-md-1
        order 1
    .max-order-md-2
        order 2
    .max-order-md-3
        order 3
    .max-order-md-4
        order 4
    .max-order-md-5
        order 5
    .max-order-md-6
        order 6
    .max-order-md-7
        order 7
    .max-order-md-8
        order 8
    .max-order-md-9
        order 9
    .max-order-md-10
        order 10
    .max-order-md-11
        order 11
    .max-order-md-12
        order 12
    .max-order-md-13
        order 13
    .max-order-md-14
        order 14
    .max-order-md-15
        order 15
    .max-order-md-16
        order 16
    .max-order-md-17
        order 17
    .max-order-md-18
        order 18
    .max-order-md-19
        order 19
    .max-order-md-20
        order 20
    .max-order-md-21
        order 21
    .max-order-md-22
        order 22
    .max-order-md-23
        order 23
    .max-order-md-24
        order 24

@media (min-width: 992px)
    .max-col-lg
        flex-basis 0
        flex-grow 1
        max-width 100%
    .max-col-lg-auto
        flex 0 0 auto
        width auto
        max-width none
    .max-col-lg-1
        flex 0 0 4.166667%
        max-width 4.166667%
    .max-col-lg-2
        flex 0 0 8.333333%
        max-width 8.333333%
    .max-col-lg-3
        flex 0 0 12.5%
        max-width 12.5%
    .max-col-lg-4
        flex 0 0 16.666667%
        max-width 16.666667%
    .max-col-lg-5
        flex 0 0 20.833333%
        max-width 20.833333%
    .max-col-lg-6
        flex 0 0 25%
        max-width 25%
    .max-col-lg-7
        flex 0 0 29.166667%
        max-width 29.166667%
    .max-col-lg-8
        flex 0 0 33.333333%
        max-width 33.333333%
    .max-col-lg-9
        flex 0 0 37.5%
        max-width 37.5%
    .max-col-lg-10
        flex 0 0 41.666667%
        max-width 41.666667%
    .max-col-lg-11
        flex 0 0 45.833333%
        max-width 45.833333%
    .max-col-lg-12
        flex 0 0 50%
        max-width 50%
    .max-col-lg-13
        flex 0 0 54.166667%
        max-width 54.166667%
    .max-col-lg-14
        flex 0 0 58.333333%
        max-width 58.333333%
    .max-col-lg-15
        flex 0 0 62.5%
        max-width 62.5%
    .max-col-lg-16
        flex 0 0 66.666667%
        max-width 66.666667%
    .max-col-lg-17
        flex 0 0 70.833333%
        max-width 70.833333%
    .max-col-lg-18
        flex 0 0 75%
        max-width 75%
    .max-col-lg-19
        flex 0 0 79.166667%
        max-width 79.166667%
    .max-col-lg-20
        flex 0 0 83.333333%
        max-width 83.333333%
    .max-col-lg-21
        flex 0 0 87.5%
        max-width 87.5%
    .max-col-lg-22
        flex 0 0 91.666667%
        max-width 91.666667%
    .max-col-lg-23
        flex 0 0 95.833333%
        max-width 95.833333%
    .max-col-lg-24
        flex 0 0 100%
        max-width 100%
    .max-order-lg-1
        order 1
    .max-order-lg-2
        order 2
    .max-order-lg-3
        order 3
    .max-order-lg-4
        order 4
    .max-order-lg-5
        order 5
    .max-order-lg-6
        order 6
    .max-order-lg-7
        order 7
    .max-order-lg-8
        order 8
    .max-order-lg-9
        order 9
    .max-order-lg-10
        order 10
    .max-order-lg-11
        order 11
    .max-order-lg-12
        order 12
    .max-order-lg-13
        order 13
    .max-order-lg-14
        order 14
    .max-order-lg-15
        order 15
    .max-order-lg-16
        order 16
    .max-order-lg-17
        order 17
    .max-order-lg-18
        order 18
    .max-order-lg-19
        order 19
    .max-order-lg-20
        order 20
    .max-order-lg-21
        order 21
    .max-order-lg-22
        order 22
    .max-order-lg-23
        order 23
    .max-order-lg-24
        order 24

@media (min-width: 1200px)
    .max-col-xl
        flex-basis 0
        flex-grow 1
        max-width 100%
    .max-col-xl-auto
        flex 0 0 auto
        width auto
        max-width none
    .max-col-xl-1
        flex 0 0 4.166667%
        max-width 4.166667%
    .max-col-xl-2
        flex 0 0 8.333333%
        max-width 8.333333%
    .max-col-xl-3
        flex 0 0 12.5%
        max-width 12.5%
    .max-col-xl-4
        flex 0 0 16.666667%
        max-width 16.666667%
    .max-col-xl-5
        flex 0 0 20.833333%
        max-width 20.833333%
    .max-col-xl-6
        flex 0 0 25%
        max-width 25%
    .max-col-xl-7
        flex 0 0 29.166667%
        max-width 29.166667%
    .max-col-xl-8
        flex 0 0 33.333333%
        max-width 33.333333%
    .max-col-xl-9
        flex 0 0 37.5%
        max-width 37.5%
    .max-col-xl-10
        flex 0 0 41.666667%
        max-width 41.666667%
    .max-col-xl-11
        flex 0 0 45.833333%
        max-width 45.833333%
    .max-col-xl-12
        flex 0 0 50%
        max-width 50%
    .max-col-xl-13
        flex 0 0 54.166667%
        max-width 54.166667%
    .max-col-xl-14
        flex 0 0 58.333333%
        max-width 58.333333%
    .max-col-xl-15
        flex 0 0 62.5%
        max-width 62.5%
    .max-col-xl-16
        flex 0 0 66.666667%
        max-width 66.666667%
    .max-col-xl-17
        flex 0 0 70.833333%
        max-width 70.833333%
    .max-col-xl-18
        flex 0 0 75%
        max-width 75%
    .max-col-xl-19
        flex 0 0 79.166667%
        max-width 79.166667%
    .max-col-xl-20
        flex 0 0 83.333333%
        max-width 83.333333%
    .max-col-xl-21
        flex 0 0 87.5%
        max-width 87.5%
    .max-col-xl-22
        flex 0 0 91.666667%
        max-width 91.666667%
    .max-col-xl-23
        flex 0 0 95.833333%
        max-width 95.833333%
    .max-col-xl-24
        flex 0 0 100%
        max-width 100%
    .max-order-xl-1
        order 1
    .max-order-xl-2
        order 2
    .max-order-xl-3
        order 3
    .max-order-xl-4
        order 4
    .max-order-xl-5
        order 5
    .max-order-xl-6
        order 6
    .max-order-xl-7
        order 7
    .max-order-xl-8
        order 8
    .max-order-xl-9
        order 9
    .max-order-xl-10
        order 10
    .max-order-xl-11
        order 11
    .max-order-xl-12
        order 12
    .max-order-xl-13
        order 13
    .max-order-xl-14
        order 14
    .max-order-xl-15
        order 15
    .max-order-xl-16
        order 16
    .max-order-xl-17
        order 17
    .max-order-xl-18
        order 18
    .max-order-xl-19
        order 19
    .max-order-xl-20
        order 20
    .max-order-xl-21
        order 21
    .max-order-xl-22
        order 22
    .max-order-xl-23
        order 23
    .max-order-xl-24
        order 24