.title
  height: 46px;
  line-height: 46px;
  &__align_left
    text-align left
  h4
    font-size: 20px;
    font-weight: 100;

@media (max-width: 425px)
  .title
    &__align_left
      text-align center