.field
  position relative

  select
    height 46px
    line-height 46px
    padding-left 20px
    padding-right 35px
    color #565656
    border 1px solid #bdc0c1
    border-radius 4px
    font-size 16px
    outline none
    width 100%
    appearance: none;
    background-color #fff

  &:before
    display inline-block
    position absolute
    right 20px
    height 8px
    top 17px
    content ""
    width 8px
    border-right 1px solid #565656
    border-bottom 1px solid #565656
    transform: rotate(45deg)
    pointer-events none