@font-face {
  font-family: 'fontello';
  src: inline('./fonts/fontello.eot?71941616');
  src: inline('./fonts/fontello.eot?71941616#iefix') format('embedded-opentype'),
          inline('./fonts/fontello.woff2?71941616') format('woff2'),
          inline('./fonts/fontello.woff?71941616') format('woff'),
          inline('./fonts/fontello.ttf?71941616') format('truetype'),
          inline('./fonts/fontello.svg?71941616#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ic, [class^="ic-"]:before, [class*=" ic-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ic-grid:before { content: '\e800'; }
.ic-list:before { content: '\e801'; }
.ic-heart:before { content: '\e802'; }
.ic-heart-empty:before { content: '\e803'; }
.ic-star:before { content: '\e804'; }
.ic-star-empty:before { content: '\e805'; }
.ic-search:before { content: '\e809'; }
.ic-pencil:before { content: '\e806'; }
.ic-mail:before { content: '\e807'; }
.ic-arrows-cw:before { content: '\e810'; }
.ic-emo-unhappy:before { content: '\e811'; }
.ic-cancel:before { content: '\e812'; }
.ic-cancel-1:before { content: '\e813'; }
.ic-picture:before { content: '\e814'; }
.ic-spin3:before { content: '\e832'; }
.ic-spin5:before { content: '\e838'; }
.ic-spin6:before { content: '\e839'; }
.ic-spinner:before { content: '\f110'; }
.ic-euro:before { content: '\f153'; }
.ic-dollar:before { content: '\f155'; }
.ic-rouble:before { content: '\f158'; }
.ic-location:before { content: '\f031'; }
.ic-up:before { content: '\e80a'; }
.ic-down:before { content: '\e80b'; }
.ic-help-circled:before { content: '\e80c'; }

.ic-star:before, .ic-star-empty:before {
  position: relative;
  left: 0.5px;
}

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}