*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

h2
  margin 0
  line-height 1.4
  font-size 24px
  font-weight 400
  vertical-align text-top
  sup
    font-size 16px

h3
  margin 0
  line-height 1.4
  font-size 24px
  font-weight 400
  vertical-align text-top
  margin-top 30px
  margin-bottom 20px

a
  color: #337ab7;
  text-decoration: none;


.calc
  display flex
  margin-left 15px
  margin-right 15px

  &__wrapper
    padding-bottom 40px

  &__left
    z-index 5
    position relative
    padding-top 50px
    padding-bottom 50px
    background-color #c3cbce
    h2
      text-transform uppercase
      font-weight: 600
      margin-bottom 40px

  &__right
    background-color #9daab2
    position relative
    padding-top 50px
    padding-bottom 50px
    &:before
      display inline-block
      border 10px solid transparent
      border-left-color #c3cbce
      content ""
      left 0
      top 77px
      position absolute
      z-index 10

  &__action
    margin-top 30px
    text-align left

  &__catalog_title
    margin-top 40px
    margin-bottom -20px
    h2
      font-weight 100
      margin-top 6px
      font-size 20px
      vertical-align top

@media (max-width: 990px)

  .calc
    display block
    margin-left 0
    margin-right 0

    &__left, &__right
      width 100%
      display block
      &:before
        display none

    &__catalog_title
      text-align center
      h2
        margin-bottom 20px