.checkbox
  position relative
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;

  &__icon
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid #009fe3;
    border-radius: 4px;
    margin-right: 10px;

    &:hover
      border-color: #0086cd;

    &_checked
      width: 26px;
      height: 26px;
      border-radius: 4px;
      transition: background 0.2s;
      background: #0086cd;
      position: relative;

    &:after
      content: "";
      position: absolute;
      width: 14px;
      height: 10px;
      background: transparent;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-45deg);
      border-radius: 0;
      left: 5px;
      top: 4px;
      pointer-events: none;
      opacity: 1;
      z-index: 2;
      transition: opacity 0.2s;

  &__label
    cursor pointer
    user-select none

@media (max-width: 600px)

  .checkbox
    margin-bottom 10px