.button
  display block
  width 100%
  outline none
  padding 0
  margin 0
  box-shadow none
  border none
  cursor pointer
  background none
  span
    text-align center
    display block
    width 100%
    height 46px
    line-height 46px
    padding-left 20px
    padding-right 20px
    border-radius 23px
    font-size 18px
    outline none
    color #fff
    background #fff
    transition 0.5s
    cursor pointer

  &:hover
    text-decoration none

  i
    display inline-block
    min-width 46px
    height 46px
    border-radius 23px
    text-align center
    font-size 20px
    outline none
    background #fff
    transition 0.5s
    cursor pointer
    line-height 46px
    vertical-align middle

.light_blue
  span
    background #0086cd
    &:hover
      transition 0.2s
      background lighten(#0086cd, 20%)

.red_search
  font-size: 14px
  i
    min-width 20px
    background transparent
    vertical-align top
    margin-right: 10px;
  span
    font-size: 14px
    background #e40613
    border-radius 4px
    padding-left: 10px
    padding-right: 10px
    text-transform uppercase
    &:hover
      transition 0.2s
      background lighten(#e40613, 20%)

.margin_bottom
  margin-bottom 20px

.white
  span
    background #fff
    color #0086cd
    border 1px solid #d3d3d3
    &:hover
      color #fff
      transition 0.2s
      background lighten(#0086cd, 20%)

.light
  display inline-block
  span
    background #fff
    border-radius 4px
    text-align center
    line-height: 46px;
    color: #0086cd;
    border: 1px solid #bdc0c1;
    font-size: 16px;
    width auto
    min-width 250px
    &:hover
      color #fff
      transition all 0.2s
      background lighten(#0086cd, 20%)
      i
        color #fff
    i
      font-size 16px
      background transparent
      vertical-align: top;
      color #d3d3d3
      height 44px
      min-width 30px
.with_icon
  span 
    padding-right: 45px;
    padding-left 30px

.width_auto
  width auto
  display inline-block
  margin-right 20px
  vertical-align top
  margin-bottom 20px
  span
    width auto

.inline
  width auto
  display inline-block
  span
    width auto

.position_right
  margin-left 20px

.small
  span, i
    min-width 36px
    height 36px
    line-height 36px
    border-radius 18px

.ic
  i
    background rgba(255,255,255,0.7)
    //background-color #e0ecf9
    color #f49203
    border 1px solid #d3d3d3
    &:hover
      background #f49203
      color #fff
      border-color #f49203

.not_border
  i
    border none

.disabled
  pointer-events: none
  opacity 0.8
  span
    background #fff
    color: #bdc0c1;
    border: 1px solid #bdc0c1;