.customSelect
  position relative
  color #565656
  font-size 14px
  outline none

  &__trigger

    span
      display block
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;