.table
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent;

  .tr
    &_dark
      .td 
        background: #eceeef

.td
  padding: 8px;
  padding: 0.5rem;
  border: 1px solid #dfdfdf;
  &_xs
    min-width: 100px
  &_s
    min-width: 120px
  &_m
    min-width: 140px
    min-width: 120px
  &_l
    min-width: 180px
.th
  padding: 0.5rem
  border: 1px solid #dfdfdf;
  border-bottom-width: 2px;
  text-align: center;
  font-weight: bold;
  &-direction-asc
    span
      padding-right 20px
      &:before
        display: inline-block;
        content: "";
        position: absolute;
        right: 0px;
        height: 8px;
        top: 5px;
        width: 8px;
        border-right: 2px solid #0086cd;
        border-bottom: 2px solid #0086cd;
        transform: rotate(45deg);
        pointer-events: none;

  &-direction-desc
    span
      padding-right 20px
      &:before
        display: inline-block;
        content: "";
        position: absolute;
        right: 0px;
        height: 8px;
        top: 9px;
        width: 8px;
        border-right: 2px solid #0086cd;
        border-bottom: 2px solid #0086cd;
        transform: rotate(-135deg);
        pointer-events: none;

  &-action
    cursor pointer
    user-select none
    span
      color: #0086cd;
      position relative
      user-select none

@media (max-width: 998px) 
  .table
    &_responsive 
      display: block;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;

  .td
    span 
      position: relative
      white-space nowrap