.legend
  display flex
  justify-content: space-between;
  margin-bottom 5px

  &__label
    font-size 14px
    height 30px
    line-height 30px

  &__total
    width 60px
    display inline-block
    height 30px
    line-height 30px
    font-size 14px
    text-align center
    color #fff
    background rgba(255, 255, 255, .5)

.blue
  background #0e4269

.red
  background #e80614

.orange
  background #f59201

.light_blue
  background #009fe3

.green
  background #3baa34

.brown
  background #946038

.pink
  background #e71873