.field
  display block
  width 100%
  position relative

.hint
  position absolute
  border-radius 4px
  font-size 12px
  line-height: 1.4;
  letter-spacing:0.05em;
  display inline-block
  padding 7px 10px
  top -140%
  left 50%
  transform: translate(-50%, -50%);
  border: 1px solid #9daab2;
  white-space: nowrap;
  opacity 0
  pointer-events none
  transition all 0.5s
  color #fff
  background-color: rgba(0,0,0, 1);

  &:after, &:before
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

  &:after
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #000;
    border-width: 10px;
    margin-left: -10px;

  &:before
    border-color: rgba(157, 170, 178, 0);
    border-top-color: #000;
    border-width: 11px;
    margin-left: -11px;

.show
  .hint
    opacity 1
    transition all 0.5s
    top -110%